@font-face {
  font-family: 'nunito_sans';
  src: url("../../fonts/nunitosans-regular-webfont.eot");
  src: url("../../fonts/nunitosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/nunitosans-regular-webfont.woff2") format("woff2"), url("../../fonts/nunitosans-regular-webfont.ttf") format("truetype"), url("../../fonts/nunitosans-regular-webfont.svg#nunito_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunito_sans';
  src: url("../../fonts/nunitosans-light-webfont.eot");
  src: url("../../fonts/nunitosans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/nunitosans-light-webfont.woff2") format("woff2"), url("../../fonts/nunitosans-light-webfont.ttf") format("truetype"), url("../../fonts/nunitosans-light-webfont.svg#nunito_sanslight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'nunito_sans';
  src: url("../../fonts/nunitosans-bold-webfont.eot");
  src: url("../../fonts/nunitosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/nunitosans-bold-webfont.woff2") format("woff2"), url("../../fonts/nunitosans-bold-webfont.ttf") format("truetype"), url("../../fonts/nunitosans-bold-webfont.svg#nunito_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }

html {
  font-size: 62.5%; }

.row {
  max-width: 123rem; }

body {
  color: #0F0F0F;
  margin: 0 auto;
  padding: 0;
  font-size: 10px;
  font-family: nunito_sans, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: white;
  letter-spacing: 0.5px; }
  body.size-2 {
    font-size: 11px; }
  body.size-3 {
    font-size: 12px; }
  body.contrast {
    color: white;
    background-color: black; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-width: 0; }

input,
select,
textarea {
  font-family: nunito_sans, arial, sans-serif;
  font-size: 1.2em;
  color: black;
  resize: none; }

input:focus,
select:focus,
textarea:focus,
a {
  outline: none; }

input[type=text],
input[type=password],
input[type=submit],
input[type=button],
input[type=email],
input[type=number],
input[type=tel],
textarea {
  -webkit-appearance: none; }

input[type=password] {
  font-family: arial, sans-serif; }

table {
  border-spacing: 0; }

td,
th {
  padding: 0; }

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

a img {
  border-width: 0; }

a {
  color: #0F0F0F;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }

.contrast a {
  color: white; }

a:hover {
  text-decoration: none;
  color: #7273aa; }

a:hover,
a:active,
a:focus {
  outline: 0; }

.colored {
  color: #0F0F0F; }

.center {
  text-align: center; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.hidden {
  display: none; }

.text-to-right {
  text-align: right; }

.with-margin-top {
  margin-top: 30px; }

.with-margin-bottom {
  margin-bottom: 30px; }

* {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  box-sizing: border-box; }

p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0; }

.center {
  text-align: center; }

.section-title {
  font-size: 3.2em;
  text-transform: uppercase;
  font-weight: normal; }

label {
  font-size: 1.4em;
  margin-bottom: 3px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.input-text,
.select,
.checkboxes,
.choce-item-group {
  margin-bottom: 25px; }

.input-text input,
.input-text textarea {
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  color: #0F0F0F;
  background-color: white;
  width: 100%;
  font-size: 1.6em; }

.input-text input {
  height: 40px;
  line-height: 40px;
  padding: 0 15px; }

.input-text textarea {
  width: 100%;
  height: 200px;
  padding: 10px 15px;
  line-height: 24px; }

.checkboxes {
  position: relative; }
  .checkboxes input {
    position: absolute;
    left: 0;
    margin-top: 2px; }
  .checkboxes label {
    margin-left: 20px; }
  .checkboxes > label {
    margin-left: 0; }

.choice-item {
  margin-top: 10px; }
  .choice-item label {
    margin-left: 5px;
    display: inline;
    letter-spacing: 0;
    text-transform: none; }

.flash-notice,
.flash-success,
.flash-error {
  margin-bottom: 20px;
  padding: 20px 30px;
  font-size: 1.4em;
  color: white; }

.flash-success {
  background-color: green; }

.flash-notice {
  background-color: #ff7900; }

.flash-error {
  background-color: #8c0000; }

.error-message {
  font-size: 1.2em;
  color: red; }
  .error-message ul {
    margin: 0;
    padding: 0;
    list-style: none; }

/** Select2 */
.select2-container {
  width: 100% !important; }

.select2-container--default .select2-selection--single {
  border-color: #d7d7d7;
  border-radius: 3px;
  font-size: 1.6em;
  height: 40px;
  line-height: 40px;
  padding: 0; }

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 15px; }

.select2-results {
  font-size: 1.6em; }

.select2-dropdown {
  border-color: #d7d7d7; }

.select2-search--dropdown {
  padding: 15px; }

.select2-results__option {
  padding: 15px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  width: 100%; }

.select2-search--dropdown .select2-search__field {
  font-size: 1.6em; }

.date-selects > div {
  display: flex; }

.user-info-panel {
  margin-bottom: 50px;
  padding: 30px;
  background-color: #eeeeee;
  border: 1px solid #d7d7d7; }
  .user-info-panel p {
    font-size: 1.6em; }
  .user-info-panel .title {
    color: #7273aa;
    font-size: 1.8em;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
  .user-info-panel dl {
    font-size: 1.4em;
    line-height: 2em; }
    .user-info-panel dl dt {
      letter-spacing: 2px;
      float: left;
      width: 200px;
      font-weight: bold; }
    .user-info-panel dl dd {
      font-style: italic;
      opacity: 0.8; }
      .user-info-panel dl dd:after {
        content: "";
        height: 0;
        width: 100%;
        display: block;
        clear: both; }

.page-title {
  letter-spacing: 1px;
  margin-bottom: 40px;
  font-size: 2.8em;
  font-weight: normal; }
  .page-title:after {
    margin-top: 15px;
    content: "";
    display: block;
    width: 50px;
    height: 7px;
    background-color: #7273aa; }

.button {
  display: inline-block;
  height: 40px;
  padding: 0 25px;
  text-align: center;
  background-color: #7273aa;
  line-height: 40px;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .button.big {
    height: 50px;
    line-height: 50px; }
  .button:hover {
    background-color: #46bdd3;
    color: white; }
  .button.colored {
    background-color: #46bdd3; }

section {
  padding: 40px 0; }

hr {
  margin: 35px 0;
  border-color: #d7d7d7;
  opacity: 0.3; }

.buttons-menu {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  overflow: hidden; }
  .buttons-menu > li {
    float: left;
    margin-right: 20px; }
    .buttons-menu > li.active .button {
      background-color: #46bdd3;
      color: white; }

.target-menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  .target-menu > li {
    display: none; }
    .target-menu > li.active {
      display: block; }

.bordered-box {
  margin-bottom: 30px;
  border: 1px solid #d7d7d7;
  padding: 30px;
  background: #fafafa; }
  .bordered-box .bordered-box {
    background: whitesmoke;
    padding: 20px; }

.group-field-note {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #2a2931;
  letter-spacing: 1px; }

.field-note {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #2a2931;
  letter-spacing: 1px; }

table.table-history {
  width: 100%;
  font-size: 1.6em; }
  table.table-history th {
    padding: 10px;
    border-bottom: 1px solid #d7d7d7; }
  table.table-history td {
    padding: 10px;
    border-bottom: 1px solid #d7d7d7; }

.contract-box {
  height: 200px; }

.administration-section {
  background-color: #1abc9c; }
