{% spaceless %}
<div style="border-bottom: 1px solid #1d70b7;">&nbsp;</div>
<table cellpadding="5" cellspacing="0" style="width: 100%; color: #656565; font-size: 6.5px; line-height: 1.7;">
<tr>
<td valign="top" style="width: 26%;"><br style="line-height: 1"><br style="line-height: 1">
    {{ template.footer_col1|raw }}
</td>
<td valign="top" style="width: 29%"><br style="line-height: 1"><br style="line-height: 1">
    {{ template.footer_col2|raw }}
</td>
<td valign="top" style="width: 45%;"><br style="line-height: 1"><br style="line-height: 1">
    {{ template.footer_col3|raw }}
</td>
</tr>
</table>
{% endspaceless %}
