<tr>
<td style="width: 4%; color: white;" bgcolor="#1d70b7">Lp.</td>
<td style="width: 48%; color: white;" bgcolor="#1d70b7">Nazwa usługi</td>
<td style="width: 12%; color: white; text-align: right;" bgcolor="#1d70b7">Kwota netto</td>
<td style="width: 12%; color: white; text-align: right;" bgcolor="#1d70b7">Stawka VAT</td>
<td style="width: 12%; color: white; text-align: right;" bgcolor="#1d70b7">Kwota VAT</td>
<td style="width: 12%; color: white; text-align: right;" bgcolor="#1d70b7">Kwota brutto</td>
</tr>
